.body {
  background-color: black;
}
.image {
  height: 150px;
  min-width: 300px;
  max-width: 400px;
  object-fit: cover;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
}
.category {
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border-width: 1px;
  border-style: solid;
  border-color: red; */
  background-color: black;
  padding-top: 30px;
}
.carrousel {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
